apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: network-delay-experiment
  namespace: synaxis
  labels:
    experiment: network-delay
    app: synaxis-api
spec:
  action: delay
  mode: one
  selector:
    namespaces:
      - synaxis
    labelSelectors:
      app: synaxis-api
  delay:
    latency: "200ms"
    correlation: "25"
    jitter: "50ms"
  direction: to
  target:
    selector:
      namespaces:
        - synaxis
      labelSelectors:
        app: synaxis-router
    mode: one
  scheduler:
    cron: "@every 20m"
  duration: "60s"
