openapi: 3.0.3
info:
  title: Synaxis Team Memberships API
  description: API for managing team memberships
  version: 1.0.0
  contact:
    name: Synaxis Team
    email: support@synaxis.io

servers:
  - url: https://api.synaxis.io
    description: Production server
  - url: http://localhost:5000
    description: Local development server

paths:
  /api/v1/organizations/{orgId}/teams/{teamId}/memberships:
    get:
      summary: List team memberships
      description: Retrieves all memberships for a specific team. Requires team membership or org admin access.
      operationId: listTeamMemberships
      tags:
        - TeamMemberships
      security:
        - BearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          description: The organization ID
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            format: uuid
        - name: pageSize
          in: query
          description: Number of results per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: page
          in: query
          description: Page number (0-based)
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Successfully retrieved team memberships
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamMembership'
                  total:
                    type: integer
                  page:
                    type: integer
                  pageSize:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/organizations/{orgId}/teams/{teamId}/memberships/{id}:
    get:
      summary: Get team membership
      description: Retrieves a specific team membership by ID. Requires team membership or org admin access.
      operationId: getTeamMembership
      tags:
        - TeamMemberships
      security:
        - BearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          description: The organization ID
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: The membership ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved team membership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMembership'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update team membership
      description: Updates a team membership role. Requires team admin or org admin access.
      operationId: updateTeamMembership
      tags:
        - TeamMemberships
      security:
        - BearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          description: The organization ID
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: The membership ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  type: string
                  enum: [admin, member]
                  description: The new role for the member
      responses:
        '200':
          description: Successfully updated team membership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMembership'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete team membership
      description: Removes a member from a team. Requires team admin access or self-removal.
      operationId: deleteTeamMembership
      tags:
        - TeamMemberships
      security:
        - BearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          description: The organization ID
          schema:
            type: string
            format: uuid
        - name: teamId
          in: path
          required: true
          description: The team ID
          schema:
            type: string
            format: uuid
        - name: id
          in: path
          required: true
          description: The membership ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Successfully deleted team membership
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from authentication endpoint

  schemas:
    TeamMembership:
      type: object
      required:
        - id
        - userId
        - role
        - joinedAt
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the membership
        userId:
          type: string
          format: uuid
          description: The user ID
        email:
          type: string
          format: email
          description: The user's email address
        firstName:
          type: string
          description: The user's first name
        lastName:
          type: string
          description: The user's last name
        role:
          type: string
          enum: [TeamAdmin, Member]
          description: The member's role in the team
        joinedAt:
          type: string
          format: date-time
          description: When the user joined the team

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Human-readable error message

  responses:
    BadRequest:
      description: Bad Request - Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - Invalid or missing authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - User lacks required permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

tags:
  - name: TeamMemberships
    description: Operations related to team membership management
